/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2017, 20:14:10
    Author     : daniellewilliams
*/

h1{
    font-family: candara;
    font-family: segoe marker;
    font-size: 130px;
    color: white;
    text-align: center;
    margin: -2px;
}
h2{
    color: white;
    font-family: candara;
    font-size: 40px;
    font-weight: bold;
    margin:10px;
   
}

h3{
    color: white;
    font-family: candara;
    font-size: 30px;
    font-weight: bold;
    margin:10px;
    margin: 2%;
}

h4{
    color: white;
    font-family: candara;
    text-align: left;
    font-size: 15px;
    margin:10px;
}
h5{
    color: white;
    font-family: candara;
    font-size: 20px;
    text-align: center;
}
h6{
    color: white;
    font-family: candara;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

h8{
    color: white;
    font-family: candara;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    
}

a{
    font-family: candara;
    font-size: 15px;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #1E90FF;
}

/* selected link */
a:active {
    color: white;
}

.navBar{
    height: 90px;;
    width: 100%;
    background-color: #042356;
    margin: 0 auto;
    text-align: center;
    text-color: white;
    white-space: nowrap; 
}

.navBar ul{
    margin: 0;
    padding: 0;

}

.navBar li{
    list-style: none; /*Removes bullet points from Nav bar*/
    display: inline-block;
}

.navBar a{
    text-decoration: none; 
    float: left; 
    display: block;
    padding: 10px 15px; 
    margin: 0;
    font-family: segoe marker;
    color: white;
    font-size: 60px;
    font-weight: bold;
}


.navBar1{
    height: 50px;
    width: 100%;
    background-color: #25619f;
    margin: 0 auto;
    text-align: center;
    text-color: white;
    white-space: nowrap; 
}

.navBar1 ul{
    margin: 0;
    padding: 0;

}

.navBar1 li{
    list-style: none; /*Removes bullet points from Nav bar*/
    display: inline-block;
    text-align: center;
}

.navBar1 a{
    text-decoration: none; 

    display: block;
    padding: 10px 15px; 
    margin: 0;
    font-family: Candara;
    font-weight: bold;
    color: white;
    font-size: 22px;

}

.navBar1 a:hover{
    color: white; /*When Nav bar links are hovered over they change colour and have a 1 pixel thick black stroke*/
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-color: white;

}

div.main{
    max-width: 70%;
    height: auto; 
    min-height:100%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    background-color:#65C7E7;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 150px;
    padding-top: 10px;
    font-size: 1.4em;
    color: white; 
    font-family: 'Raleway',sans-serif; 
    margin-left: 30%;
}
label1 {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 150px;
    padding-top: 10px;
    font-size: 1.4em;
    color: white; 
    font-family: 'Raleway',sans-serif; 
    margin-left: 30%;
}


input[type=text], select {
    width: 75%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em;
    color: black; 
    font-family: 'Raleway',sans-serif; 
}

input[type=password], select {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: black; 
    font-family: 'Raleway',sans-serif; 
}

    
input[type=radio], select {
    font-size: 1.2em;
    color: white; 
    font-family: 'Raleway',sans-serif; 
}

input[type=submit] {
    background-color: #1E90FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    display:block;

}

span { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; }

button {
    background-color: yellow;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#sec-button{
    background-color: #042356;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #042356;
    border-radius: 25px;
    margin-left: 50px;
    width: 80%;

}
#third-button{
    background-color: #b71010;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #042356;
    border-radius: 25px;
    margin-left: 50px;
    width: 80%;
    
}

.centerContent2{
}

#fourth-button{
    background-color: #25619f;;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #042356;
    border-radius: 25px;
    margin-left: 50px;
    width: 80%;

}

#fifth-button{
    background-color: #b71010;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border: 1px solid #042356;
    border-radius: 25px;
    margin: auto;
    width: 80%;
    
}

.centerContent1{

	width: 70%;
	margin: 0 auto;				/*Sets div to centre of page and is 70% width of the page*/
	background: #042356;			/*Gives the content div a slightly transparent black bacground*/
}
.cent1{

	width: 70%;			/*Sets div to centre of page and is 70% width of the page*/
	background: #b71010;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
}


#cen1{
       width: 100%;
       background-color: #042356;
       align-items: center;
}
#cen2{
       width: 100%;
       background-color: #042356;
       display: block;
       margin: auto;
}

#cc1{
        
	width: 60%;		/*welcome message is 50% width of centreContent div*/
	float: left;
	height: 30%;
	overflow: auto;
        background: #042356;
        
        
        
}


#cc2{
        width: 40%;		/*welcome message is 50% width of centreContent div*/
	float: left;
	height: 30%;
	overflow: auto;
        background: #d3dfeb;
        align-content: center;
        
}
#cc3{
    
        width: 100%;		/*welcome message is 50% width of centreContent div*/
	float: left;
	height: 30%;
	overflow: auto;
        background: #25619f;
        align-content: center;
      

}
